@import "https://fonts.googleapis.com/css?family=Montserrat:400";
@import "https://fonts.googleapis.com/css?family=Merriweather:300";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,500i,600,600i,700,700i |Cormorant+SC:400,500,600,700');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

*
{
  background-image: image("img/bg/fon2.jpg");
  box-sizing: border-box;
}

.rating-result {
  width: 240px;
  margin: 0 auto;
}
.rating-result span {
  padding: 0;
  font-size: 22px;
  margin: 0 1px;
  line-height: 1;
  color: #c2c2c2;
}
.rating-result > span:before {
  content: '★';
}
.rating-result > span.active {
  color: #f8a41f;
}

/* Slider */
#slider{
  width:auto;
  height:90%;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:80%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  border-radius: 20px;
  width:25%;
  height:80%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slider img{
  border-radius: 20px;
  box-shadow: 5px 13px 25px gray;
}



/* Legend */
.legend{
  width: 50%;
  height: 50%;
  background: rgba(74, 102, 117, 0.9);
  position: absolute;
  bottom: 0;
  -webkit-clip-path: polygon(0% 0%, 0% 500%, 100% 100%);
  clip-path: polygon(0% 0%, 0% 500%, 100% 100%);
}


/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:30%;
  height:20%;
  float:left;
  position:absolute;
  bottom:15%;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-size:18px;
  color:#fff;
  text-align:left;
  margin-left:30px;
}
.content-txt h1.price{
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size:18px;
  color: #effd72;
  text-align:left;
  margin-left:30px;
}
.content-txt h2{
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size:13px;
  color:#fff;
  text-align:left;
  margin-left:30px;
}
.content-txt button{
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size:12px;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position: absolute;
  z-index:99;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background: #6e6e6e;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
/*  overflow:hidden;*/
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background: #1261f3;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}


/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/* Content */
.container{
  padding:20px 0;
  margin:20px auto;
}
.container h1{
  font-family: Arial, sans-serif;
  font-size:24px;
  color:#222;
  text-transform:uppercase;
  margin:20px 0;
}
.container h2{
  font-family: arial, sans-serif;
  font-size:16px;
  color:#444;
  margin-top:10px;
}
.container h3{
  font-family: arial, sans-serif;
  font-weight:normal;
  font-size:16px;
  color:#aaa;
}
.code{
  width:5px;
  height:auto;
  margin:20px auto;
  padding:10px 20px;
  background:#222;
  border-left:10px solid #aaa;
  font-family: arial, sans-serif;
  font-size:16px;
  color:#fff;
}
.code span{
  color:#89A978;
}
.space{
  width:20px;
  height:1px;
  float:left;
}



li,a
{
  font-family: "Merriweather",sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: midnightblue;
  text-decoration: none;
}

li a.active {
  color: chocolate;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: Merriweather, system-ui, sans-serif;
  align-items: start;
  min-height: 100vh;
}

.footer {
  margin-top: 5%;
  display: inline-grid;
  width: 100%;
  flex-flow: row wrap;
  padding: 10px 10px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 550;
  font-size: 18px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 15px;
  padding: 0 1.3em;
  font-family: "Baskerville Old Face", sans-serif;
}
.footer__btn:hover {
  background-color: chocolate;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
  font-family: "Baskerville Old Face";
  font-size: 20px;
}
.nav__ul a:hover {
  color: chocolate;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}


header
{
  margin-top: 2px;
  width: 100%;
  background-color: rgba(255,255,255);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  box-shadow: 5px 3px 15px gray;
  text-transform: uppercase;
}


.logo
{
  cursor: pointer;
}

nav
{
  margin-right: 10%;
}

.nav_links
{
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding-inline: 20px;
}

.nav_links li a{
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.nav_links li a.active{
  background-size: 100% 2px;
}

.nav_links li a:hover
{
  color: chocolate;
  background-size: 100% 2px;
}


.service_image
{
  width: 25px;
  height: 25px;
  transition: all 0.1s ease 0s;
}

.service_image:hover
{
  width: 28px;
  height: 28px;
  transition: all 0.1s ease 0s;
}


.service_buttons
{
  display: flex;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.service_buttons:hover
{
  display: flex;
  background-color: transparent;
}

button{
  font-family: Gabriola,sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #888888;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }


  tr,
  img {
    page-break-inside: avoid;
  }



  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*tabs*/
.tabs {
  margin-left: auto;
  margin-right: auto;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>input[type="radio"]:checked+label {
  border:1px solid chocolate;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  border-top:1px solid chocolate;
  padding: 10px 15px;
  border-radius: 4px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4
{
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: rgba(238, 238, 238, 0);
  border: 1px solid transparent;
  padding: 2px 8px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-left: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs>label:first-of-type {
  margin-left: 0;
}

.table-item
{
  border: 1px solid rgba(210, 210, 210, 0.53);
  width: 30%;
  max-height: 300px;
  padding: 0.5%;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  object-fit: contain;
  overflow: hidden;
}
.table-item:hover
{
  background-color: #e7e7e7;
  transition: all 0.25s ease-in-out
}


